In [1]:
import pandas as pd

In [2]:
import numpy as np

In [ ]:
# Problem Statement: There is an insurance company that needs to disburse amount

In [3]:
# Step 1: Gathering the data
data= pd.read_csv("C:\\Users\\EAP\\Downloads\\insurance.csv")

In [4]:
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [5]:
# Step 2: Data Preprocessing

# We will convert the categorical variable into numeric variables using One Hot encoding

# For Male: Value 2
# For Female : Value 1

data["sex"]= data["sex"].apply({'female':1,'male':2}.get)
data["smoker"]= data["smoker"].apply({'no':0,'yes':1}.get)
data["region"]= data["region"].apply({'southeast':1,'northeast':2, 'southwest': 3, 'northwest':4}.get)

In [6]:
data.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    1  27.9         0       1       3  16884.92
1   18    2  33.8         1       0       1   1725.55
2   28    2  33.0         3       0       1   4449.46
3   33    2  22.7         0       0       4  21984.47
4   32    2  28.9         0       0       4   3866.86

In [7]:
# Step 3: Dividing the data into independent and dependent variables now

x=data[['age','sex','bmi','children','smoker','region']]  # independent variables
y=data['expenses']  # dependent variable

In [8]:
x.head()

   age  sex   bmi  children  smoker  region
0   19    1  27.9         0       1       3
1   18    2  33.8         1       0       1
2   28    2  33.0         3       0       1
3   33    2  22.7         0       0       4
4   32    2  28.9         0       0       4

In [9]:
y.head()

0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: expenses, dtype: float64

In [10]:
# Step 4: Splitting the data into Training and Testing set

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8)  #training we use 80% data and for testing we use 20% data.

In [12]:
# Building the model using linear regression algorithm.

from sklearn.linear_model import LinearRegression
regressor=LinearRegression()  # activating/instantiating the linear regression algorithm
 # regressor is a variable. we can take any variable

In [13]:
# Training our linear regression model using .fit()
regressor.fit(x_train,y_train)

LinearRegression()

In [14]:
# Testing our linear regression model using .predict() 

predictions= regressor.predict(x_test)

In [15]:
# Checking the accuracy of our model.

regressor.score(x,y)

0.749500421317197

In [16]:
# Use the model on top of new customer data for calculating the expense on a new customer

new_data={'age':32,'sex':2,'bmi':22,'children':1,'smoker':1,'region':3}
index=[1] # serial number

In [17]:
# Converting the dictionary into a data frame

my_data=pd.DataFrame(new_data,index)

In [18]:
my_data

   age  sex  bmi  children  smoker  region
1   32    2   22         1       1       3

In [19]:
# Predicting the insurance expense for new customer

new_predictions=regressor.predict(my_data)
print('the health insurance cost for the new customer is', new_predictions)

the health insurance cost for the new customer is [27317.03412144]